/* green: #B0CE8C blue:#84ACE8 bg:#EAF1F1 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background-color: #D2E5EB;
    font-family: calibri
}

.navbar {
    width: 100%;
    background-color: #729bd6cc;
    height: 60px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 3;
}

.logo {
    width: 50px;
    float: left;
    margin-top: 5px;
}

.logo img {
    width: 100%
}

.nav-parts {
    float: right;
    overflow: hidden;
    font-weight: bold;
    margin-top: 5px;
}

.clear-div {
    clear: both;
}

.nav-parts ul {
    height: 100%;
}

.nav-parts ul li {
    display: inline-block;
    height: 100%;
    margin-top: 15px;
    margin-left: 7px;
}

.nav-parts ul li::after {
    content: "";
    width: 0;
    height: 3px;
    background-color: #004279;
    display: block;
    transition: 0.5s;
    margin-top: 3px;
}

.nav-parts ul li a {
    text-decoration: none;
    color: #004279;
    cursor: pointer;

}

.nav-parts ul li:hover::after {
    width: 100%
}

.nav-parts .inner-list {
    position: absolute;
    top: 50px;
    right: 8%;
    width: fit-content;
    background-color: #B0CE8C;
    padding: 0;
    transition: 1s;
    height: 0;
    overflow: hidden;
}

.nav-parts .inner-list li {
    display: block;
    height: 15%
}

.nav-parts ul li.blog:hover .inner-list {
    height: 125px;
    padding: 8px
}

/* styling header part  */
div.header {
    width: 100%;
    height: 100vh;
    background-image: url("../images/cover.jpg");
    background-position: center;
    background-size: cover;
}

div.header .overlay {
    width: 80%;
    height: fit-content;
    background-color: #164f76a6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #bee6ef;
    text-align: center;
    padding: 35px
}

div.header .overlay h2 {
    font-size: 3rem;
}

div.header .overlay button {
    height: 40px;
    outline: none;
    border: 0;
    border-radius: 5px;
    width: 130px;
    background: #003468;
    font-weight: bold;
    margin: 10px;
    color: #ebf2fe;
    cursor: pointer;
    opacity: 0.9
}

div.header button.login {
    color: #003468;
    background-color: #ebf2fe;
}

div.header .overlay button:hover {
    opacity: 0.7
}

/* welcome part */
.welcome {
    height: 500px;
    text-align: center;
}

.cards-container {

    width: 80%;
    margin: 40px auto;
}

.welcome h2,
.services .ser-list h3,
.pricing h2,
.celebs h2,
.specs h2 {
    margin: 40px auto;
    font-size: 2.3em;
    color: #00275a;
    text-transform: capitalize;
}

.welcome h2::after,
.services .ser-list h3::after,
.hospitals h2::after,
.celebs h2::after,
.pricing h2::after,
.specs h2::after {
    content: "";
    width: 300px;
    height: 3px;
    background-color: #00275a;
    display: block;
    margin: 5px auto;
}

.welcome .card,
.specs .card {
    border: 1px solid;
    height: 230px;
    padding: 20px;
    border-radius: 5px;
    float: left;
    position: relative;
    width: 25%;
    margin-left: 6.25%;
    color: #003468
}

.card h3 {
    margin: 20px;
    text-transform: capitalize;
}

.welcome .card::after,
.specs .card::after {
    content: "";
    width: 100%;
    height: 0;
    z-index: -1;
    background-color: #001d4e;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.8s;

}

.specs .card::after {
    width: 0
}

.card:hover::after {
    height: 100%;
    width: 100%;
}

.card:hover {
    color: #c0c7d9;
}

.welcome .card i {
    font-size: 20px
}

.welcome .card p {
    margin: 10px;
    color: #929aad;
    height: 42%;
}

.welcome .card a {
    text-decoration: none;
    transition: 1s
}

.welcome .card:hover a {
    color: #84ACE8
}

/* hospitals part */
.hospitals {
    width: 100%;
    height: 550px;
    background-color: #eff4f6;
}

.hospitals h2 {
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #00275a
}

.hospitals h2::after {
    width: 80px
}

.hospitals-container {
    width: 60%;
    margin: 0 auto;
    overflow: hidden
}

.hospitals-container .hos-card {
    float: left;
    height: 200px;
    width: 30%;
    margin-left: 2.5%;
    margin-bottom: 20px;
    position: relative
}

.hospitals-container img {
    width: 100%;
    height: 100%
}

.hos-card .overlay {
    width: 100%;
    height: 100%;
    background-color: #114d80d4;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 30%;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}

.hos-card:hover .overlay {
    visibility: visible;
    opacity: 1;
}

.hos-card .overlay p {
    font-size: 1.2rem;
    color: #dfe8f9;
    margin-top: 20px;
    font-weight: bold;
    padding: 10px;
    transition: 1s;
    text-transform: capitalize;
}

.hos-card:hover .overlay p {
    margin: 0
}

.hos-card .overlay i {
    display: inline-block;
    margin: 10px;
    color: #eaeffb;
}

/* styling specialities part */
.specs {
    height: 600px
}

.specs h2 {
    text-align: center;
}

.specs .card {
    padding: 5px;
    position: relative;
    height: 200px;
    transition: 0.5s;
    margin-bottom: 25px;
}

.specs .card h3 {
    text-align: left;
    width: 100%;
    margin: 15px 0px;

}

.specs .card div {
    position: absolute;
    right: 5px;
    top: 10px;
    width: 75%;
    text-align: left;
    transition: 1s
}

.specs .card i {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 2rem;
}

/* services part */
.services {
    background-color: #eff4f6;
    height: 330px;
    position: relative;
}

.services .img-container {
    width: 30%;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 94%;
    border-left: 2px solid #33a8b1;
}

.services div img {
    height: 80%;
    object-fit: contain
}

.services div .dots {
    margin: ;
    margin-right: ;
    text-align: center;
    width: 35%;
}

.services div .dots span {
    display: inline-block;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #4f91c7;
    margin: 10px;
    cursor: pointer
}

.services div .dots span:hover {
    background-color: #114d80;
}

.services .ser-list {
    width: 59%;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 30px;
}

.services .ser-list h3::after {
    margin: 0;
    width: 100px;
}

.services .ser-list ul {
    width: 60%;
    display: inline-block;
    margin-left: 20px;
    list-style-type: disclosure-closed;
}

/* stats section */
.stats {
    background-image: url("../images/hbg.jpg");
    height: 230px;
    background-size: cover;
    background-attachment: fixed;
}

.stats .container {
    width: 100%;
    height: 100%;
    background-color: #333e6285;
}

.stats .container div {
    display: inline-block;
    width: 24%;
    height: 100px;
    text-align: center;
    color: #eff4f6;
    margin-top: 4%;
}

.stats div .description {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: capitalize;
}

.stats div i {
    font-size: 2em;
}

.stats div .number {
    font-size: 2.3em;
    font-weight: bold;
}

/* pricing section */
.pricing {
    text-align: center;
    background-color: #d2e5eb;
    height: 700px;
}

.pricing h2::after {
    width: 10%
}

.pricing .container {
    width: 80%;
    margin: auto;
    height: 100%;
    overflow: hidden;
}

.pricing .container .plan {
    border: 1px solid #00275a;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    background-color: #ebf2fe;
    color: #00275a;
    transition: 0.4s;
    float: left;
    width: 30%;
    height: 600px;
    margin: 0px 1.5%;
}

.pricing .container .plan h4 {
    font-size: 2em;
    text-transform: capitalize;
    margin: 10%;
}

.pricing .container .plan .price span {
    font-size: 3em;
    color: #41a054
}

.pricing .container .plan .price {
    border: 2px solid #41a054;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding-top: 2%;
    margin: 20px auto;
}

.pricing .container .plan ul {
    list-style-position: inside;
    text-align: left;
    margin: 10%;
    list-style-type: square;
}

.pricing .container .plan ul li {
    font-size: 1.1rem;
    margin: 15px auto;
}

.pricing .container button {
    width: 130px;
    height: 50px;
    font-size: 1.2em;
    border: 2px solid #41a054;
    color: #41a054;
    outline: 0;
    border-radius: 5px;
    position: absolute;
    bottom: 35px;
    right: 50%;
    transform: translateX(50%);
    background-color: transparent;
    cursor: pointer;
    transition: 1s;
}

.pricing .container button:hover {
    color: #00275a;
    border: 3px solid #00275a
}

/* celebs section */
.celebs {
    height: 500px;
    margin-top: 40px;
    background-color: #ebf2fe;
    padding-top: 40px;
    text-align: center;
}

.celebs .big-container {
    width: 90%;
    margin: auto;
}

.celebs .big-container .celeb {
    height: 240px;
    border-radius: 4px;
    border: 1px solid #00275a;
    overflow: hidden;
    position: relative;
    color: #00275a;
    width: 19%;
    margin: 1%;
    display: inline-block;
}

.celebs .big-container .celeb::before {
    content: "";
    width: 100%;
    height: 0;
    background-color: #2d5d7b5c;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
    z-index: 2;
}

.celebs .big-container .celeb .avatar {
    width: 80%;
    margin: auto;
    position: relative;
    height: 80%;
    overflow: hidden;

}

.celebs .big-container .celeb .avatar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 27px;
}

.avatar .icons {
    position: absolute;
    top: 32px;
    right: 0;
    background-color: #eaeef1;
    padding: 5px;
    opacity: 0;
    transition: 0.7s;
    z-index: 4;

}

.celebs .big-container .celeb .avatar .icons i {
    display: block;
    cursor: pointer;
    font-size: 1.2em
}

.celebs .big-container .celeb:hover .icons {
    opacity: 1;
}

.celebs .big-container .celeb:hover::before {
    height: 100%
}

.celeb .info h4 {
    font-size: 1.2em;
    font-weight: bold;
}

.celeb .info {
    text-align: center;
    text-transform: capitalize;
}

/* footer styling */
.footer {
    height: 50px;
    background-color: #00275a;
    overflow: hidden;
}

.footer p {
    height: 100%;
    padding-top: ;
    padding-left: 1%;
    font-size: 0.8rem;
    margin: 18px;
    width: 45%;
    color: #ebf2fe;
    float: left
}

.footer img {
    width: 50px;
}

.footer .foot-icons i {
    color: #ebf2fe;
    margin-top: 12px;
    margin-left: 10px;
    transition: 0.7s;

}

.footer .foot-icons i:hover {
    color: #83affa;

}

.footer .foot-icons a {
    text-decoration: none;
}

.footer .foot-icons {
    float: right;
    font-size: 1.7em;
}